<mat-dialog-content>
	<p>
		{{message}}
	</p>
  <ul>
   <strong>Service name</strong> : {{recievedData?.serviceName}}<br>
   <strong>Service type</strong> :  {{recievedData?.serviceType}}<br>
   <strong>Price</strong> : {{recievedData?.price}}<br>
   <strong><h1>Service owners</h1></strong>
  <div *ngFor="let serviceOwner of recievedData?.serviceOwners">
    <strong>First name</strong> : {{serviceOwner.fname}}<br>
    <strong>Last name</strong> : {{serviceOwner.lname}}<br>
    <strong>Email</strong>  : {{serviceOwner.email}}<br>
    <strong>Phone</strong> : {{serviceOwner.phone}}
    <div>--------------------------------------</div>
  </div>
  </ul>
</mat-dialog-content>

<mat-dialog-actions align="center">
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>



